<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <header>
    <a href="/">Home 1</a> |
    <a href="/users">Users</a> |
    <a href="/admin/products">Products(Admin)</a>
  </header>

  <main>
    <%- body %>
  </main>
</body>
</html>